# OpenAI Configuration
OPENAI_API_KEY=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

# Supabase Configuration
SUPABASE_URL=https://cvbshphbwxcxezkpfmmn.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN2YnNocGhid3hjeGV6a3BmbW1uIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1MTIyOTA0NywiZXhwIjoyMDY2ODA1MDQ3fQ.lYQD1TQEjKLqZJ0uvvno3LUR-TYbyoxWVk76y75a1Z4

# Server Configuration
PORT=3000
NODE_ENV=development

MONGO_CONNECTION_STRING = mongodb+srv://lodhisherdil1_db_user:7Gm2K6bzgUsTDF7L@cluster0.jgcgg79.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

lodhisherdil1_db_user
7Gm2K6bzgUsTDF7L